/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: since 0
*/

html, body {
	background: #4a0081;
	color: #ccc;
	font: 16px/1.5 'Sailec', Arial, sans-serif;
	width: 100%;
	height: 100%;
}

img {
	border: 0;
}

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: visible;
}

header {
	background: #000000d4;
	color: #fff;
	text-align: center;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
	height: 44px;
	padding: 0 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 10000;
}

#logo {
	margin-top: 4px;
	height: 35px;
}

.button_big, .button_dropdown, .button_small {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	padding: 5px 10px;
	margin: 6px 5px;
}

.button_big:hover, .button_dropdown:hover, .button_small:hover {
	cursor: pointer;
}

.button_small, .button_dropdown {
	background: #1e1e1e;
}

.button_small:hover, .button_dropdown:hover {
	background: #1e1e1e;
	color: #ff7920;
}

.button_big {
	background-color: #ff7920;
	width: 160px;
}

.button_big:hover {
	text-decoration: underline;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	background-color: #444;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 10px 0;
	margin: -6px 0;
	text-align: left;
	display: none;
	position: absolute;;
	min-width: 160px
}

.dropdown-content a {
	color: #ddd;
	text-decoration: none;
	display: block;
	padding: .5px 20px;
}

.dropdown-content a:hover {
	background-color: #222;
	color: #ff7920;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.dropdown_contain {
	padding: 0;
	margin: 6px 5px;
}

.dropdown_button {
	margin: 0;
	padding: 5px 10px;
}

.hamburger_button::before {
	margin: 0;
	padding: 5px 10px;
	font-family: GlyphiconsRegular;
	content: '\E188';
	background-color: #1e1e1e;
}

.dropdown_contain:hover>nav {
	display: block;
	cursor: default;
}

.dropdown_menu {
	background-color: #444;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 100%;
	padding: 10px 0;
	margin: 0;
	text-align: left;
	position: relative;
	float: left;
	display: none;
}

.dropdown_menu>a {
	color: #ddd;
	text-decoration: none;
	display: block;
	padding: 2px 20px;
}

.dropdown_menu>a:hover {
	background: #222;
	color: #ff7920;
	cursor: pointer;
}

.dropdown_menu>h2 {
	color: #fff;
	font-size: 15px;
	margin: 0;
	padding: 2px 20px;
}

.dropdown_menu>hr {
	border: 1px solid #222;
	margin: 10px 0;
}

.banner {
	width: 100%;
	padding: 90px 40px;
	background-image: url(https://grapzmen-goanimation.github.io/pages/img/shop.jpeg);
	color: #fff;
	text-align: center;
	background-position: center, center;
	background-repeat-x: no-repeat;
	background-color: #123;
}

.banner>h1 {
	font-size: 30px;
	text-shadow: 0 0 4px #000, 0 0 8px #000, 0 0 16px #000;
	font-weight: 800;
}

.banner_button {
	background: #000000c9;
	-webkit-box-shadow: 0 2px 5px -1.5px #0000009e;
	-moz-box-shadow: 0 2px 5px -1.5px #0000009e;
	box-shadow: 0 2px 5px -1.5px #0000009e;
	border: 1px solid #000;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: .25s cubic-bezier(.4, 0, .2, 1);
	-o-transition: .25s cubic-bezier(.4, 0, .2, 1);
	-moz-transition: .25s cubic-bezier(.4, 0, .2, 1);
	transition: .25s cubic-bezier(.4, 0, .2, 1);
	padding: 8px 12px;
	margin: 0 5px;
}

.banner_button:hover {
	background-color: #000;
}

main {
	padding: 20px 40px;
}

.mod {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-table;
	text-align: left;
	margin: 4px;
	padding: 5px;
	padding-bottom: 20px;
	-webkit-transition: .15s cubic-bezier(1, 0, 0, 1);
	-o-transition: .15s cubic-bezier(1, 0, 0, 1);
	-moz-transition: .15s cubic-bezier(1, 0, 0, 1);
	transition: .15s cubic-bezier(1, 0, 0, 1);
}

.mod:hover {
	background: #1c1c1c;
	-webkit-box-shadow: 0 2px 5px -1.5px #0000009e;
	-moz-box-shadow: 0 2px 5px -1.5px #0000009e;
	box-shadow: 0 2px 5px -1.5px #0000009e;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.mod h3, .mod p {
	padding-left: 6px;
}

.mod h3 {
	margin: 8px 0 0;
}

.mod p {
	font-size: 15px;
	margin: 6px 0 0;
}

.mod img {
	height: 160px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

iframe.discord-widget {
	float: right;
	margin-top: 25px;
}

footer {
	background: #000;
	margin-top: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	padding: 45px 0;
}

footer div nav {
	margin: 5px 10px;
	display: inline-block;
}

footer a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

footer a:hover {
	text-decoration: underline;
}

footer h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 23px;
	color: #b9b9b9;
}

@font-face {
	font-family: sailec;
	font-weight: 100;
	src: url(/web/20241207071814im_/http://wrapperonlinediamond.waterdroprio.pp.ua/pages/css/.../fonts/Sailec-Thin.woff) format('woff');
}

@font-face {
	font-family: sailec;
	font-weight: 200;
	src: url(/web/20241207071814im_/http://wrapperonlinediamond.waterdroprio.pp.ua/pages/fonts/Sailec-Light.woff) format('woff');
}

@font-face {
	font-family: sailec;
	font-weight: 400;
	src: url(/web/20241207071814im_/http://wrapperonlinediamond.waterdroprio.pp.ua/pages/fonts/Sailec-Regular.woff) format('woff');
}

@font-face {
	font-family: sailec;
	font-weight: 500;
	src: url(/web/20241207071814im_/http://wrapperonlinediamond.waterdroprio.pp.ua/pages/fonts/Sailec-Medium.woff) format('woff');
}

@font-face {
	font-family: sailec;
	font-weight: 700;
	src: url(/web/20241207071814im_/http://wrapperonlinediamond.waterdroprio.pp.ua/pages/fonts/Sailec-Medium.woff) format('woff');
}

@font-face {
	font-family: glyphiconsregular;
	src: url(/web/20241207071814im_/http://wrapperonlinediamond.waterdroprio.pp.ua/pages/fonts/glyphicons-regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
/*
     FILE ARCHIVED ON 07:18:14 Dec 07, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:05:01 Oct 08, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.79
  exclusion.robots: 0.045
  exclusion.robots.policy: 0.027
  esindex: 0.014
  cdx.remote: 71.147
  LoadShardBlock: 1697.058 (3)
  PetaboxLoader3.resolve: 1143.678 (3)
  PetaboxLoader3.datanode: 641.265 (4)
  load_resource: 170.225
*/
